<h3>Department List</h3>
<table class="table">
    <thead>
        <tr>

            <th>Department ID</th>
            <th>Department Name</th>
            <th>Department Location</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dep of department">
            <td>{{dep.deptId}}</td>
            <td>{{dep.deptName}}</td>
            <td>{{dep.deptLocation}}</td>
            <!-- <td>
                <a [routerLink]="['../employee']" [queryParams]="{deptId:dep.deptId}">View Employees</a>
            </td> -->

        </tr>
    </tbody>
</table>