<div class="container">
  <div class="row">
    <div class="col-12">
      <input type="button" (click)="navigateRoute('')" class="btn btn-link" value="Home"> &nbsp;&nbsp; | &nbsp;&nbsp;
      <input type="button" (click)="navigateRoute('employee')" class="btn btn-link" value="Employee"> &nbsp;&nbsp; |
      &nbsp;&nbsp;
      <input type="button" (click)="navigateRoute('customer')" class="btn btn-link" value="Customer">
    </div>
  </div>
  <br>
  <div class="row" style="min-height: 550px;">
    <div class="col-12">
      <router-outlet (activate)="activateRoute()"></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Designed By : Sathesh
    </div>
  </div>
</div>